{% extends 'twitter/base.html' %}

{% block content %}
<h1>Tweet Detail</h1>
<p>
    {{ tweet.tweet_text }}
    <br>
        <!-- <div style="display:inline-flex">
            <form action="{% url 'twitter:detail' tweet.id %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="お気に入り">
            </form>
        :{{ tweet.nicevotes }}
        </div> -->
        <a href= "{% url 'twitter:profile' tweet.author %}">{{tweet.author}}</a>
    
    <p>
        <br>
            {% if tweet.id in favorite_tweet_list %}
            <a href="{% url 'twitter:del_favorite' tweet.id %}">－お気に入り</a></td>
            {% else %}
            <a href="{% url 'twitter:add_favorite' tweet.id %}">＋お気に入り</a></td>
            {% endif %}
        <br>
            {% if user == tweet.author %}
            <a href= "{% url 'twitter:del_tweet' tweet.id %}">tweet 削除</a>
            {% endif %}
        <br>
            <a href= "{% url 'twitter:tweetlist' %}">Tweet List</a>
    </p>
</p>
{% endblock %}